
mixin button(attr)
  - let classStyle, arrow
  - const { isActive, title, style, page } = attr
    case style 
      when "fillArrow"
        - classStyle = "fill-arrow"
        - arrow = "arrow_forward"
      when "fill"
        - classStyle = style
      when "void"
        - classStyle = style
      default 
        - classStyle = "text"
    if (isActive)   
      a(href=`${page}`) 
        button(name=`${title}` class=`button_style_${classStyle}` ).button
          div(class=`button__body_style_${classStyle}`).button__body
            div(class=`button__title_style_${classStyle}`).button__title=title
            case style 
              when "fillArrow"
                i.button__arrow.button__arrow_style_fill-arrow.material-icons=arrow
    else
      a(href=`${page}`) 
        button(name=`${title}` class=`button_style_${classStyle}` disabled).button
          div(class=`button__body_style_${classStyle}`).button__body
            div(class=`button__title_style_${classStyle}`).button__title=title
