
mixin button(attr)
   - let classStyle, arrow
   - const { active, title, style, page } = attr
      case style
         when "fill"
            - classStyle = "btnStyleFill"
         when "fillArrow"
            - classStyle = "btnStyleFillArrow"
            - arrow = "arrow_forward"
         when "void"
            - classStyle = "btnStyleVoid"
         when "text"
            - classStyle = "btnStyleText"
         default 
            p chose button style
            p=title
      case active
         when "yes"
          a(href=`${page}`) 
            button(name=`${title}` class=`${classStyle}` )
               wrap(class=`${classStyle}__body`)
                  wrap(class=`${classStyle}__title`)=title
               i.btnStyleFillArrow__arrow.material-icons=arrow
         when  "no"
          a(href=`${page}`) 
            button(name=`${title}` class=`${classStyle}` disabled)
               wrap(class=`${classStyle}__body`)
                  wrap(class=`${classStyle}__title` disabled)=title
         default
            p Chose active or not
