
mixin button(attr)
  - let classStyle, arrow
  - const { isActive, title, style, page } = attr
    case style 
      when "fillArrow"
        - classStyle = "btn-style-fill-arrow"
        - arrow = "arrow_forward"
      when "fill"
        - classStyle = `btn-style-${style}`
      when "void"
        - classStyle = `btn-style-${style}`
      default 
        - classStyle = "btn-style-text"
    if (isActive)   
      a(href=`${page}`) 
        button(name=`${title}` class=`${classStyle}` )
          div(class=`${classStyle}__body`)
            div(class=`${classStyle}__title`)=title
          i.btn-style-fill-arrow__arrow.material-icons=arrow
    else
      a(href=`${page}`) 
        button(name=`${title}` class=`${classStyle}` disabled)
          div(class=`${classStyle}__body`)
            div(class=`${classStyle}__title` disabled)=title
