include ../rateStars/rateStars

mixin roomThumbnail (options)
   - const { roomNumber, isLuxe, isCarousel, cost, rating, feedbacks } = options
     -const luxe = isLuxe ? "люкс" : "" 
      .roomThumbnail
         .roomThumbnail__roomPhotos 
            img(src=`../../img/roomPhotos/room${roomNumber}/room__1_sm.png` alt=`Фото апартаменты №${roomNumber}` width="100%").roomThumbnail__roomPhotos-photo
            - if (isCarousel)
             .roomThumbnail__roomPhotos-carousel 
               .roomThumbnail__roomPhotos-carousel-left.material-icons expand_more
               .roomThumbnail__roomPhotos-carousel-right.material-icons expand_more 
               .roomThumbnail__roomPhotos-carousel-nav
                  .roomThumbnail__roomPhotos-carousel-nav-circle_active
                  .roomThumbnail__roomPhotos-carousel-nav-circle
                  .roomThumbnail__roomPhotos-carousel-nav-circle
                  .roomThumbnail__roomPhotos-carousel-nav-circle
                  
         .roomThumbnail__roomInfo
            wrap 
               span.roomThumbnail__roomInfo-number=roomNumber
               span.roomThumbnail__roomInfo-luxe=luxe
            wrap
               span.roomThumbnail__roomInfo-cost=cost+"₽" 
               span.roomThumbnail__roomInfo-period в сутки 
         .roomThumbnail__line
         .roomThumbnail__roomFeedback
            +rateStars(rating)
            wrap.roomThumbnail__roomFeedback-value=feedbacks
            wrap Отзывов   


      
