include ../user-photo/user-photo

mixin user-profile(options)
  - const { image, imageAlt, name, job, theme, links } = options;
  - const { facebook, twitter, dribble } = links;
  -
    const themes = {
      default: 'default',
      primary: 'primary'
    };

  .user-profile
    +user-photo({ image, imageAlt })
    div(class=`user-profile__info user-profile__info_theme_${themes[theme] || themes.default}`)
      p(class=`user-profile__name user-profile__name_theme_${themes[theme] || themes.default}`)= name
      p(class=`user-profile__job user-profile__job_theme_${themes[theme] || themes.default}`)= job
      ul.user-profile__links
        li.user-profile__item
          a.user-profile__link(href=`https://facebook.com/${facebook}`, target="_blank", rel="noopener noreferrer")
            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 310 310")
              path(class=`user-profile__icon user-profile__icon_theme_${themes[theme] || themes.default}` d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064 c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z")
        li.user-profile__item
          a.user-profile__link(href=`https://twitter.com/${twitter}`, target="_blank", rel="noopener noreferrer")
            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 6701 5446")
              path(class=`user-profile__icon user-profile__icon_theme_${themes[theme] || themes.default}` d="M6701 645c-247,109 -512,183 -790,216 284,-170 502,-440 604,-761 -266,158 -560,272 -873,334 -251,-267 -608,-434 -1004,-434 -759,0 -1375,616 -1375,1375 0,108 12,213 36,313 -1143,-57 -2156,-605 -2834,-1437 -118,203 -186,439 -186,691 0,477 243,898 612,1144 -225,-7 -437,-69 -623,-172 0,6 0,11 0,17 0,666 474,1222 1103,1348 -115,31 -237,48 -362,48 -89,0 -175,-9 -259,-25 175,546 683,944 1284,955 -471,369 -1063,589 -1708,589 -111,0 -220,-7 -328,-19 608,390 1331,618 2108,618 2529,0 3912,-2095 3912,-3912 0,-60 -1,-119 -4,-178 269,-194 502,-436 686,-712z")
        li.user-profile__item
          a.user-profile__link(href=`https://dribble.com/${dribble}`, target="_blank", rel="noopener noreferrer")
            svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1000 1000")
              path(class=`user-profile__icon user-profile__icon_theme_${themes[theme] || themes.default}` d="M0 500c0-90.667 22.334-174.333 67-251 44.667-76.667 105.334-137.333 182-182C325.667 22.333 409.334 0 500 0c90.667 0 174.334 22.333 251 67 76.667 44.667 137.334 105.333 182 182 44.667 76.667 67 160.333 67 251s-22.333 174.333-67 251c-44.666 76.667-105.333 137.333-182 182-76.666 44.667-160.333 67-251 67-90.666 0-174.333-22.333-251-67-76.666-44.667-137.333-105.333-182-182C22.334 674.333 0 590.667 0 500zm83 0c0 104 35 195.667 105 275 32-62.667 82.667-122.333 152-179 69.334-56.667 137-92.333 203-107-10-23.333-19.666-44.333-29-63-114.666 36.667-238.666 55-372 55-26 0-45.333-.333-58-1 0 2.667-.166 6-.5 10-.333 4-.5 7.333-.5 10zm13-103c14.667 1.333 36.334 2 65 2 111.334 0 217-15 317-45-50.666-90-106.333-165-167-225-52.666 26.667-97.833 63.667-135.5 111-37.666 47.333-64.166 99.667-79.5 157zm149 432c75.334 58.667 160.334 88 255 88 49.334 0 98.334-9.333 147-28-13.333-114-39.333-224.333-78-331-61.333 13.333-123.166 47-185.5 101C321.167 713 275 769.667 245 829zM398 97c58.667 60.667 113 136.333 163 227 90.667-38 159-86.333 205-145-77.333-64-166-96-266-96-34 0-68 4.667-102 14zm199 298c10 21.333 21.334 48.333 34 81 49.334-4.667 103-7 161-7 41.334 0 82.334 1 123 3-5.333-90.667-38-171.333-98-242-43.333 64.667-116.666 119.667-220 165zm59 151c34 98.667 57 200 69 304 52.667-34 95.667-77.667 129-131 33.334-53.333 53.334-111 60-173-48.666-3.333-93-5-133-5-36.666 0-78.333 1.667-125 5z")